.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup .mapboxgl-popup-content {
  font: 400 15px/22px 'Helvetica Neue', Sans-serif;
  padding: 0;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  font-size: 20px;
  background: $primary;
  color: #333;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  margin-top: -15px;
}

.mapboxgl-popup-content p {
  margin: 0;
  display: block;
  padding: 10px;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: $primary;
}